---
import Layout from '../components/Layout.astro';
---

<Layout title="关于我" description="汉都中華炸鸡创始人介绍：从职业加盟商到中華炸鸡品类开创。">
  <article class="page">
    <h1>关于我</h1>
    <p>我是汉都中華炸鸡的创始人。目前汉都中華炸鸡有 40 家门店，主要集中在南京和合肥。</p>

    <h2>从职业加盟商开始</h2>
    <p>我之前是职业加盟商，从 2011 年开始加盟绝味鸭脖、正新鸡排、蜜雪冰城、喜茶等品牌。这个阶段让我长期在一线理解门店、产品、加盟体系和品牌运营。</p>

    <h2>开创中華炸鸡</h2>
    <p>2023 年第四季度，我开始关注炸鸡赛道。但我们不是在做传统意义上的“中式炸鸡”，而是希望跳出品类限制，开创“中華炸鸡”这个新方向。</p>
    <p>汉都中華炸鸡第一家店于 2024 年 12 月 12 日开业。</p>

    <h2>现在的重点</h2>
    <p>目前我全身心地投入到汉都中華炸鸡的品牌建设中。这对我们来说挑战很大，所以从供应链到组织，我也在不断学习。</p>
    <p>我希望通过这个网站记录真实的思考和实践，也希望和大家一起互相沟通、学习、共同精进。</p>
  </article>
</Layout>
