---
import Layout from '../components/Layout.astro';
---

<Layout title="联系" description="联系汉都中華炸鸡创始人，交流餐饮创业、中華炸鸡、品牌建设、供应链与组织管理。">
  <article class="page">
    <h1>联系</h1>
    <p>如果你想交流餐饮创业、中華炸鸡、品牌建设、供应链、组织管理或门店经营，欢迎联系我。</p>
    <ul>
      <li>手机号：13913999509</li>
      <li>Email：<a href="mailto:94234646@qq.com">94234646@qq.com</a></li>
    </ul>
  </article>
</Layout>
