---
import Layout from '../components/Layout.astro';
---

<Layout title="笔记" description="餐饮创业、中華炸鸡、品牌建设、供应链、组织管理和门店经营笔记。">
  <article class="page">
    <h1>笔记</h1>
    <p>这里会发布我在餐饮创业和品牌建设过程中的公开笔记。内容不追求完整，更重视真实、可复盘、可交流。</p>
    <ul>
      <li>中華炸鸡品类思考</li>
      <li>品牌建设与门店模型</li>
      <li>供应链学习</li>
      <li>组织管理</li>
      <li>门店经营复盘</li>
      <li>职业加盟商经验</li>
    </ul>
  </article>
</Layout>
