---
import Layout from '../components/Layout.astro';
---

<Layout title="交流与学习" description="围绕餐饮创业、中華炸鸡、品牌建设、供应链和组织管理的交流。">
  <article class="page">
    <h1>交流与学习</h1>
    <p>品牌建设不是一个人闭门完成的事情。我希望和餐饮行业的朋友、创业者、供应链伙伴、门店经营者保持交流，一起学习、共同精进。</p>
    <ul>
      <li>中華炸鸡品类交流</li>
      <li>餐饮品牌建设</li>
      <li>供应链与产品稳定性</li>
      <li>组织能力与人才培养</li>
      <li>门店经营与加盟体系</li>
    </ul>
  </article>
</Layout>
